footer p {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 1em;
  margin: 0;
  color: white;
  text-align: center;
  font-size: 1em;
  background: $color-background-primary;
}
