.navbar {
  position: absolute;
  // left: 0;
  width: 100vw;
  // top: inherit;
  margin-top: 2em;
  background: $color-background-primary;
  font-size: 2em;
  color: $color-font-secondary;
  z-index: 100;
  & ul {
    display: flex;
    justify-content: center;
    padding: 1em;
    & li {
      padding: 0.5em;
      &:hover{
        color: $color-font-tertiary;
        background: $color-background-tertiary;
        border-radius: 5px;
      }
    }
  }
}
